<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32020">
    <setting id="debug_logging" type="bool" label="32021" default="false" />
    <setting id="output_m3u_path" type="file" source="files" label="32022" default="" />
    <setting id="output_epg_path" type="file" source="files" label="32023" default="" />
    <setting id="variant_manual_select" type="bool" label="32024" default="false" />
    <setting id="mag_support" type="bool" label="32025" default="false" />
    <setting id="prefer_quality_sort" type="bool" label="32030" default="false" />
    <!-- Külső / privát M3U használata (A/B terv váltó) -->
    <setting id="use_external_m3u"
             type="bool"
             label="Külső / privát M3U használata (A terv)"
             default="false"
             visible="true"
             level="0" />


    <!-- Privát / külső M3U (A terv) – URL -->
    <setting id="external_m3u_url"
             type="text"
             label="Privát / külső M3U URL (http/https)"
             default=""
             visible="true"
             level="0" />

    <!-- Privát / külső M3U (A terv) – helyi fájl (tallózható) -->
    <setting id="external_m3u_file"
             type="file"
             source="files"
             label="Privát M3U helyi fájl"
             default=""
             visible="true"
             level="0" />

    <!-- Hun1.m3u, Hun2.m3u, ... generálás -->
    <setting id="write_variants_m3u"
             type="bool"
             label="Összes variáns M3U generálása (Hun1..Hun9)"
             default="false"
             visible="true"
             level="0" />
  </category>
</settings>