<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32020">
    <setting id="debug_logging" type="bool" label="32021" default="false"/>
    <setting id="output_m3u_path" type="file" source="files" label="32022" default=""/>
    <setting id="output_epg_path" type="file" source="files" label="32023" default=""/>
    <setting id="refresh_ttl_hours" type="number" label="32025" default="4" />
  </category>
</settings>
