<settings>
    <category label="32020">
        <setting id="playlist_default_raw_url" type="text" label="32021" default="" />
        <setting id="playlist_repo_owner" type="text" label="32027" default="" />
        <setting id="playlist_repo_name" type="text" label="32028" default="" />
        <setting id="playlist_repo_branch" type="text" label="32029" default="work" />
        <setting id="playlist_repo_path" type="text" label="32030" default="" />
        <setting id="github_token" type="text" label="32031" default="" option="hidden" />
    </category>
    <category label="32022">
        <setting id="output_m3u_path" type="path" label="32023" default="special://profile/addon_data/plugin.video.streammex/Hungary.m3u" />
        <setting id="output_epg_path" type="path" label="32024" default="special://profile/addon_data/plugin.video.streammex/Hungary.xml" />
        <setting id="refresh_ttl_hours" type="number" label="32025" default="4" />
        <setting id="debug_logging" type="bool" label="32026" default="false" />
    </category>
</settings>
